fastapi
uvicorn
firebase-admin
PyPDF2
pdfplumber
python-multipart
pydantic
httpx
aiofiles
python-dotenv
pytest
python-docx
google-cloud-storage
google-cloud-firestore
google-auth
google-auth-oauthlib
google-auth-httplib2    
requests
google-api-python-client
pydantic[email]
email-validator
pdfPlumber
google.generativeai
PyMuPDF 
fitz
google-translate
langdetect



